<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJrWKMEcl8mCcxyYPbLAnPApeyxuYSn2E</string>
	<key>GCM_SENDER_ID</key>
	<string>579196810553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-8eb0c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-8eb0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579196810553:ios:3c3b586f73277674bc64e8</string>
</dict>
</plist>